#mapaPlusChangesWindow
{
	padding: 0;
}
#mapaPlusChangesWindow,
#mapaPlusChangesWindow *
{
	-moz-user-select: text;
}
#mapaPlusChangesLogBox
{
	margin: 0;
	border: 0;
	border-top: 1px solid ThreeDDarkShadow;
	font-family: 'courier new', 'times new roman', fixed, monospace;
	padding: 0.5em;
	overflow: auto;
}

#mapaPlusChangesLogBox[window]
{
	border-bottom: 1px solid ThreeDDarkShadow;
}

#mapaPlusChangesLog,
#mapaPlusChangesLog *
{
	-moz-user-focus: normal;
	cursor: text;
}
#mapaPlusChangesLog *
{
	padding: 0;
	margin: 0;
	white-space: pre-wrap;
	text-align: left;
}
#mapaPlusChangesLog > hbox
{
	padding: 1px 0 1px 0;
	margin-top: 1px;
}

.title,
.titlelog
{
	font-weight: bold;
	font-size: 1em;
}
.link
{
	margin:0;
}

#mapaPlusChangesLog > hbox.added > vbox > description,
#mapaPlusChangesLog > hbox.removed > vbox > description,
#mapaPlusChangesLog > hbox.changed > vbox > description,
#mapaPlusChangesLog > hbox.fixed > vbox > description
{
	padding-left: 5px;
}

.last
{
	border-bottom: 1px solid ThreeDShadow;
}

#mapaPlusChangesLog[flex="1"]:not([highlight="2"]) hbox:not(.last)[wrapped] .border
{
	border-bottom: 1px dotted ThreeDShadow;
}
#mapaPlusChangesLog:not([highlight="2"]) hbox:not(.last)[wrapped] .border.tab,
#mapaPlusChangesLog hbox:not(.last)[wrapped] .border
{
	border-bottom: 1px dotted transparent;
}

#mapaPlusChangesLog hbox:not(.last)
{
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.titlelog
{
	margin-top: 1em !important;
}

#mapaPlusSupport
{
	min-width: 19em;
}
#mapaPlusSupport,
#mapaPlusSupport *
{
	font-style: italic;
}
.type
{
/*
	font-weight: bold;
*/
}
#mapaPlusChangesLog[highlight="2"] .added,
#mapaPlusChangesLog[highlight="1"] description.added
{
	background-color: #C9F5C9;
}
#mapaPlusChangesLog[highlight="2"] .removed,
#mapaPlusChangesLog[highlight="1"] description.removed
{
	background-color: #FFBFBF;
}
#mapaPlusChangesLog[highlight="2"] .changed,
#mapaPlusChangesLog[highlight="1"] description.changed
{
	background-color: #BFEEFF;
}
#mapaPlusChangesLog[highlight="2"] .fixed,
#mapaPlusChangesLog[highlight="1"] description.fixed
{
	background-color: #FFFFBF;
}

#mapaPlusMenu
{
	cursor: pointer;
	list-style-image: none;
}
